.navbar {
    background-color: #ebc4eb;
}
h3 {
    padding-top: 20px;
    margin-bottom: 30px
}

h4 {
    color: #a52a2a
}

h6 {
    font-size: 25px;
}

h5{
    text-align: center;
    font-size: 45px;
}
.nav-cat {
    font-size: 30px;
    padding-top: 7px;
}

.nav-cat a{
    color: #9744be;
}

::marker {
  color: plum;
}
.navbar-logo a {
    font-size: 30px;
    font-weight: 600;
}

.collapse {
    flex-grow: 0;
}

.nav-item a {
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #9744be;
    transition: background-color 0.3s;
    margin-left: 10px;
    outline: none;
    border: none;
}

.dv{
    text-align:center;
    padding-top: 50px
}
.dv{
    font-weight: 120px;
    font-size: 30px
}
.dv a {
    color: #9744be
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
main {
  margin: 0 auto;
  max-width: 80ch;
}

.product img{
    width: 300px
}
.product{
    margin-bottom: 45px
}
.button {
    top:50%;
    background-color:#9744be;
    color: #fff;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:30px;
    min-width: 120px;
    font-size: 19px;
    transition: background 999999s;
  }
/*.button:hover{
    background-color:#7200a3;
    transition: 0.7s;
}*/
button:active {
  background: #FFFF00;
  transition: background 0s;
}