{% extends "base.html" %}

{% block content %}
<h2>PODASH</h2>
<p>Podash - это магазин косметики</p>
<!--<p>Не знаю что ещё можно написать про нас, поэтому просто держите рецепт вкусных блинчиков.</p>-->
<!--<p>Не стану тут долго расписывать, что же такое блины, думаю, вы и так все знаете. Блины бывают дрожжевые и-->
<!--    бездрожжевые, мы будем готовить простые бездрожжевые блины на молоке. У меня вопрос лишь в том, как-->
<!--    правильно их назвать, блины или всё же блинчики, если речь идёт именно о тонких блинах. Я всегда-->
<!--    считала, что блин — это тонко пожаренное тесто на сковороде, а блинчик — это блин, в который завернули-->
<!--    начинку. Однако покопавшись в истории этого блюда, я склоняюсь к тому, что мы всё же приготовим с вами-->
<!--    сегодня тонкие блинчики на молоке. Потому как традиционные русские блины пеклись из густого дрожжевого-->
<!--    теста и были довольно толстые. Тонкие же блины пришли к нам из Франции, и стали называться блинчиками,-->
<!--    они могут быть как с начинкой, так и без неё, ведь только в тонкий блинчик вы сможете завернуть начинку.-->
<!--    И хотя со словом, вроде, всё понятно, я иногда по-прежнему продолжаю называть тонкие блинчики — блинами.<br>-->

<!--    А теперь непосредственно про рецепт. Когда речь заходит о тонких блинчиках, наверное, самый большой спор-->
<!--    состоит в том, класть в тесто соду или разрыхлитель, или нет. Так вот, в пресное блинное тесто не-->
<!--    кладутся никакие разрыхлители, блинчики получаются тонкие за счёт консистенции теста, а дырочки на них у-->
<!--    вас получатся, если вы просто хорошо прогреете сковородку. Вообще, в этом рецепте я постараюсь-->
<!--    рассказать вам о разных мелочах и тонкостях приготовления тонких блинчиков на молоке. Надеюсь, после-->
<!--    этого у вас всё получится, ведь ничего сложного в этом нет.<br>-->

<!--    Хочу заметить, что, если вы задумали сделать блинный торт, то данный рецепт не очень подходит, здесь-->
<!--    блины получаются хоть и тонкие, но довольно плотные, из них идеально делать блины с начинкой. Для-->
<!--    блинного торта лучше сделать тонкие блины на кефире с дырочками, тут блины получаются потолще и-->
<!--    нежнее.</p>-->
<!--<h3>Ингредиенты</h3>-->
<!--<ul>-->
<!--    <li>молоко 500 мл</li>-->
<!--    <li>яйца 3 шт.</li>-->
<!--    <li>мука 200 г</li>-->
<!--    <li>масло сливочное (или растительное) 30 г (2 ст. ложки)</li>-->
<!--    <li>сахар 30 г (2 ст. ложки)</li>-->
<!--    <li>соль 2-3 г (1/2 ч. ложки)</li>-->
<!--</ul>-->
<!--<p>Черт, слишком длинное приготовление блинов, мне лень копипастить рецепт. Если Вам реально интересен-->
<!--    рецепт блинов, то вот <a href="https://art-lunch.ru/recipe/tonkie-bliny-na-moloke_foto/">ссылка</a>.</p>-->
<!--<p>Спасибо, если Вы дочитали это до конца:)</p>-->
{% endblock %}