<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>{{title}}</title>
</head>
<body>
<header class="shadow border-bottom mb-5">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <div class="navbar-logo">
                <a class="navbar-brand" href="/">PODASH</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/profile">Профиль</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/login">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/register">Регистрация</a>
                        </li>
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active" href="/cart"><!--Корзина-->🛒</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
<!--<footer class="bg-light text-center text-lg-start border-top mt-5">
    <div>
        © 2024 Yandex lyceum
    </div>
</footer>
<footer class="page-footer">
    <div>
        <div>
            <p>
                Данный сайт не является интернет-магазином. Все представленные товары на сайте не
                продаются.</p>
            <p>Убедительная просьба не оставлять здесь свои настоящие имена, логины и пароли.</p>
        </div>
        <div>
                <p>О нас</p>
                <p>Разработчики</p>
            </div>
    </div>
    <div>
        © 2024 Copyright: Alexey Alexey
    </div>
</footer>-->
</body>
</html>
