{% extends "base.html" %}

{% block content %}
<h5>{{ name }}</h5>
    {%for pr in product%}
        <div class="product">
            <img src="{{ pr.image }}" alt="{{ pr.name }}">
            <div class="serial-info">

                <h2>{{ pr.name }}</h2>
                <h6>{{ pr.description }}р</h6>
            <form method="post" action="">
                        <button type="submit" class="button" name="add" value="{{ pr.name }}">
                            Добавить в корзину
                        </button>
            </form>
            </div>
            <!--{% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                            {{''}}
                {% endwith %}-->
        </div>
    {% endfor %}
{% endblock %}